* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Cairo', sans-serif;
    text-transform: capitalize;
    direction: rtl;
}

body {
    background-color: #ccc;
}

::selection {
    background-color: #4e9eff;
    color: #E91E63;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    font-weight: bold;
    position: fixed;
    width: 100%;
    padding: 15px 200px;
    z-index: 9999;
}

header a {
    text-decoration: none;
    color: #3a6cf4;
    font-size: 1.3em;
}

header nav a {
    padding-left: 1.5em;
    font-weight: 600;
}

header nav a:hover {
    color: #e91e69;
}

section {
    padding: 100px 200px;
}


.info-back {
    min-height: 100vh;
    background-image: url(../imgs/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
}

.info-back h2 {
    color: white;
    font-size: 1.4em;
    margin-bottom: 10px;
    font-weight: 500;
}

.info-back h2 span {
    display: inline-block;
    margin-top: 10px;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 10px;
    color: #4e9eff;
    word-spacing: 5px;
}

.info-back h3 {
    display: block;
    font-weight: 700;
    font-size: 32px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-back .work{
    display: inline-block;
    text-decoration: none;
    border-radius: 15px;
    background-color: #3a6cf4;
    padding: 1em 2.2em;
    color: white;
    margin-top: 10px;
    margin-bottom: 40px;
    letter-spacing: 1px;
    font-size: 1.1em;
    font-weight: 600;
    transition: 0.7s ease;
}

.info-back .work:hover {
    transform: scale(1.1);
    color: #E91E63;
}

.icons a{
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    color: #3a6cf4;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.content .card {
    padding: 25px;
    width: 21.5em;
    border-radius: 15px;
    box-shadow: 0 5px 25px  rgba(1 1 1 / 50%);
    margin: 20px;
    transition: 0.7s ease;
    background-color: white;
}

.content .card:hover {
    transform: scale(1.1);
    border: 5px solid #009688;
    border-bottom-color: #e91e69;
    border-top-color: #2196F3;
}

.content .card .icon-di {
    font-size: 9em;
    color: #4e9eff;
    text-align: center;
}

.content .card:hover .icon-di {
    color: #E91E63;
}

.info{
    text-align: center;
}

.info h2 {
    color: #3a6cf4;
    font-weight: 700;
    margin: 10px;
}

.info p {
    text-align: center;
    font-weight: 500;
}

.skills {
    background-color: #333;
}

.skills .content{
    margin-top: 30px;
}

.skills .skill-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    overflow: hidden;
    width: 20em;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.skills .skill-card:hover {
    transform: scale(1.1);
}

.skill-image img {
    width: 100%;
    transition: 0.5s ease;
}

.skills .skill-card:hover .skill-image img{
    transform: skewX(10deg) scale(1.2);
    opacity: 0.5;
}

.skill-info {
    padding: 1em;
}

.skill-info .skill-p {
    font-size: 0.8em;
    color: #000;
    font-weight: bold;
}

.skill-info strong {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    margin-top: 10px;
}

.skill-info strong .more {
    text-decoration: none;
    color: #3a6cf4;
}

.footer div {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 1.2em;
    color: white;
    align-items: center;
}

.footer .footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer .footer-title span {
    color: #3a6cf4;
}

.footer .footer-title span sub {
    color: #fff;
}

.contact .card:hover {
    border: none;
}

.contact .card .info h2 {
    color: black;
}

.contact .card .info a {
    text-decoration: none;
    color: #009688;
    font-size: 1.3em;
}

.contact .card .info a:hover {
    color: #E91E63;
}

.contact .card:hover .icon-di.none {
    color: #4e9eff;
}

.footer .icons a {
    padding: 0 12px 0 0;
}


@media (min-width: 1201px) and (max-width: 1399) {
    .content {
        align-items: center;
        justify-content: center;
    }
    .content .card {
        width: 20em;
    }
}

@media (max-width: 1200px) {
    header {
        padding: 10px 20px;
    }
    header nav a {
        padding-left: 10px;
    }
    .title {
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }
    .services h2{
        font-size: 1.8em;
    }
    .services h3{
        font-size: 1.6em;
    }
    .content {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 650px){
    body {
        font-size: 12px;
    }
    header {
        padding: 10px 20px;
    }
    header nav a {
        padding-left: 10px;
    }
    .info-back h2 span {
        margin-top: 10px;
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 5px;
        color: #4e9eff;
    }
    .title {
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }
    .services h2{
        font-size: 1.8em;
    }
    .services h3{
        font-size: 1.6em;
    }
    .content {
        flex-direction: rwo;
        align-items: center;
        justify-content: center;
    }
    .content .card {
        width: 20em;
    }
    .icons a {
        padding-left: 20px;
        padding-right: 10px;
    }
    .icons a {
        font-size: 2.5em;
    }
}

@media (max-width: 1200px) {
    header {
        padding: 10px 20px;
    }
    header nav a {
        padding-left: 10px;
    }
    .title {
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }
    .services h2{
        font-size: 1.8em;
    }
    .services h3{
        font-size: 1.6em;
    }
    .content {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 800px){
    body {
        font-size: 15px;
    }
    header {
        padding: 10px 30px;
    }
    header nav a {
        padding-left: 10px;
    }
    .info-back h2 span {
        margin-top: 10px;
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 5px;
        color: #4e9eff;
    }
    .title {
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }
    .services h2{
        font-size: 1.8em;
    }
    .services h3{
        font-size: 1.6em;
    }
    .content {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .content .card {
        width: 20em;
    }
    .icons a {
        padding-left: 20px;
        padding-right: 10px;
    }
}
@media (max-width: 650px){
    body {
        font-size: 12px;
    }
    header {
        padding: 10px 20px;
    }
    header nav a {
        padding-left: 10px;
    }
    .info-back h2 span {
        margin-top: 10px;
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 5px;
        color: #4e9eff;
    }
    .title {
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }
    .services h2{
        font-size: 1.8em;
    }
    .services h3{
        font-size: 1.6em;
    }
    .content {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .content .card {
        width: 20em;
    }
    .icons a {
        padding-left: 20px;
        padding-right: 10px;
    }
}

@media (max-width: 460px){
    body {
        font-size: 12px;
    }
    header {
        padding: 10px 20px;
    }
    header nav a {
        padding-left: 10px;
    }
    .info-back h2 span {
        margin-top: 10px;
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 5px;
        color: #4e9eff;
    }
    .title {
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }
    .services h2{
        font-size: 1.8em;
    }
    .services h3{
        font-size: 1.6em;
    }
    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .content .card {
        width: 25em;
    }
    .icons a {
        padding-left: 20px;
        padding-right: 10px;
    }

    .skills .skill-card {
        width: 28em;
    }
}

@media (max-width: 400px){
    body {
        font-size: 10px;
    }
    header {
        padding: 10px 20px;
    }
    header nav a {
        padding-left: 10px;
    }
    .info-back h2 span {
        margin-top: 10px;
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 5px;
        color: #4e9eff;
    }
    .title {
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }
    .services h2{
        font-size: 1.8em;
    }
    .services h3{
        font-size: 1.6em;
    }
    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .content .card {
        width: 29em;
    }
    .icons a {
        padding-left: 20px;
        padding-right: 10px;
    }

    .skills .skill-card {
        width: 29em;
    }
    .icons a {
        font-size: 2.5em;
    }
}

@media (max-width: 380px){
    body {
        font-size: 10px;
    }
    header {
        padding: 10px 20px;
    }
    header nav a {
        padding-left: 10px;
    }
    .info-back h2 span {
        margin-top: 10px;
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 5px;
        color: #4e9eff;
    }
    .title {
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }
    .services h2{
        font-size: 1.8em;
    }
    .services h3{
        font-size: 1.6em;
    }
    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .content .card {
        width: 30em;
    }
    .icons a {
        padding-left: 20px;
        padding-right: 10px;
    }

    .skills .skill-card {
        width: 30em;
    }
    .icons a {
        font-size: 2.5em;
    }
}

@media (max-width: 355px){
    body {
        font-size: 9px;
    }
    header {
        padding: 10px 20px;
    }
    header nav a {
        padding-left: 10px;
    }
    .info-back h2 span {
        margin-top: 10px;
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 5px;
        color: #4e9eff;
    }
    .title {
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }
    .services h2{
        font-size: 1.8em;
    }
    .services h3{
        font-size: 1.6em;
    }
    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .content .card {
        width: 30em;
    }
    .icons a {
        padding-left: 20px;
        padding-right: 10px;
    }

    .skills .skill-card {
        width: 30em;
    }
    .icons a {
        font-size: 2.5em;
    }
}

@media (max-width: 300px){
    body {
        font-size: 7px;
    }
    header {
        padding: 10px 20px;
    }
    header nav a {
        padding-left: 10px;
    }
    .info-back h2 span {
        margin-top: 10px;
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 5px;
        color: #4e9eff;
    }
    .title {
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }
    .services h2{
        font-size: 1.8em;
    }
    .services h3{
        font-size: 1.6em;
    }
    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .content .card {
        width: 30em;
    }
    .icons a {
        padding-left: 20px;
        padding-right: 10px;
    }

    .skills .skill-card {
        width: 30em;
    }
    .icons a {
        font-size: 2.5em;
    }
}



